

/*-__________ Top-level styles __________-*/

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: #30638E;
}

.wrapper {
	width: 95%;
}


/*-__________ Header styles __________-*/

/* Form */

.form-group input[type="text"] {
	width: 300px;
	color: #D1495B;
}

/* Image */

img {
	width: 45px;
	height: 45px;
	border-radius: 5px;
	margin: 2px;
	margin-left: 200px;
}


/*-__________ Main content area styles __________-*/

.card {
	background: #fff;
	border-radius: 3px;
}

/* Description list */

dl {
	border: 1px solid;
	border-radius: 2px;
	padding: 5px;
}

dt,
dd {
	padding: 10px;
}

dd {
	background:lightgrey;
	border-radius: 2px;
}

.available {
	color: #2FBF71;
}

.backorder {
	color: #D1495B;
}
